
<style>
    .btn-primary {
  color: #fff;
  background-color: #892e33;
  border-color: #892e33;
}
    td,
    tr {

        border: 0.5px solid rgb(0, 0, 0);
       
        text-align: center;
    }

    tr:hover {
        background-color: rgb(188, 189, 182);
        color: rgb(1, 1, 1);

    }

    .selected {
        background-color: rgb(170, 174, 164);
        color: rgb(2, 2, 2);
    }

    .row>* {

        padding-right: 0 !important;
        padding-left: 2px !important;

    }




</style>


<div class="card p-4" style="zoom: 90%;">


    <div class="row p-4">

    <div class="row p-4">

        <div class=" ">
            <div class="row alert alert-primary p-4 " >
                <p class="text-center alert alert-success fs-large text-black"  >معرفی حساب های معین</p>








    <form asp-action="Search">
        <div class="col-12 card mt-5   " style="overflow-x: scroll;">
            <div class="row justify-content-center text-center">
                <div class="col-4 mt-4  ">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="برای جستجو متن رو وارد کنید ..."
                            aria-label="Recipient's username" aria-describedby="button-addon2" name="childname">
                        <button class="btn btn-primary" type="button" id="basic-text1">جستوجو</button>
                    </div>
                </div>

            </div>
</form>






        <div class="card-body " style="zoom: 90%;">

            <table class="table table-bordered " id="myTable">

                <tr style="background-color: whitesmoke;">
                    <th>ردیف</th>
                    <th>نام شرکت</th>
                    <th>نام محصول</th>
                    <th>مبدا حمل</th>
                    <th>مقدار بارگیری (KG)</th>
                    <th>تعداد</th>
                    <th>فی قبل از ارزش افزوده</th>
                    <th>تخفیف</th>
                    <th>مبلغ کل</th>
                    <th>مبلغ دریافتی</th>
                    <th>عملیات</th>

                </tr>


                    @{
                        int i = 1;
                    }

                    @foreach (var item in ViewBag.Doc)
                    {
                            <tr>
                            <td>@i</td>
                            <td>@item.NameSherkat</td>
                             <td>@item.NameMahsol</td>
                              <td>@item.MabdaHaml</td>
                               <td>@item.MeghdarBargiri</td>

                               <td>@item.Tedad</td>
                               <td>@item.FiGhablArzeshAfzode</td>

                                <td>@item.Takhfif</td>
                                <td>@item.GheymatNahaei</td>

                                <td>@item.MablaghDaryafti</td>

                                 <td style="white-space: nowrap !important;">
                            <a href="/MarkazAmar/Delete/@item.Id" class="btn btn-danger"
                                onclick="return confirm('آیا از حذف مطمن هستید؟')">حذف </a>

                                 <a href="" class="btn btn-warning" >ویرایش </a>
                               


                                </td>


                                 </tr>
                        i++;


                    }








            </table>

        </div>


    </div>

</div>

<script>
    // Get all table rows
    const rows = document.querySelectorAll("#myTable tr");

    // Add click event listener to each row
    rows.forEach(row => {
        row.addEventListener("click", function () {
            // Remove the 'selected' class from all rows
            rows.forEach(row => {
                row.classList.remove("selected");
            });

            // Add the 'selected' class to the clicked row
            this.classList.add("selected");
        });
    });



    //
    function getCodeTotal() {
        debugger
    var selectedGroupId = $("#CodeGroup").val();
    $.ajax({
        url: "/HesabHa/GetCodeTotal",
        type: "GET",
        data: { idGroup: selectedGroupId },
        success: function (data) {
            $("#CodeTotal").empty();
            $.each(data, function (index, item) {
                var option = '<option value="' + item.value + '">' + item.value +"."+ item.text + "</option>";
                $("#CodeTotal").append(option);


               
            });
        }
    });
}


</script>