
<style>
    .btn-primary {
  color: #fff;
  background-color: #892e33;
  border-color: #892e33;
}
    td,
    tr {

        border: 0.5px solid rgb(0, 0, 0);
       
        text-align: center;
    }

    tr:hover {
        background-color: rgb(188, 189, 182);
        color: rgb(1, 1, 1);

    }

    .selected {
        background-color: rgb(170, 174, 164);
        color: rgb(2, 2, 2);
    }

    .row>* {

        padding-right: 0 !important;
        padding-left: 2px !important;

    }




</style>


<div class="card p-4" style="zoom: 90%;">


    <div class="row p-4">

    <div class="row p-4">

        <div class=" ">
            <div class="row alert alert-primary p-4 " >
                <p class="text-center alert alert-success fs-large text-black"  >معرفی حساب های معین</p>









        <div class="col-12 card mt-5   " style="overflow-x: scroll;">
            <div class="row justify-content-center text-center">
                <div class="col-4 mt-4  ">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchBox-3"  placeholder="برای جستجو متن رو وارد کنید ..." >
                        <button class="btn btn-primary" type="submit" >جستوجو</button>
                    </div>
                </div>

            </div>






        <div class="card-body " style="zoom: 90%;">

            <table class="table table-bordered " id="table-3">

                <tr style="background-color: whitesmoke;">
                    <th>ردیف</th>
                    <th>نام شرکت</th>
                    <th>نام محصول</th>
                    <th>مبدا حمل</th>
                    <th>مقدار بارگیری (KG)</th>
                    <th>تعداد</th>
                    <th>فی قبل از ارزش افزوده</th>
                    <th>تخفیف</th>
                    <th>مبلغ کل</th>
                    <th>عملیات</th>

                </tr>


                    @{
                        int i = 1;
                    }

                    @foreach (var item in ViewBag.Doc)
                    {
                            <tr>
                            <td>@i</td>
                            <td>@item.NameSherkat</td>
                             <td>@item.NameMahsol</td>
                              <td>@item.MabdaHaml</td>
                               <td>@item.MeghdarBargiri</td>

                               <td>@item.Tedad</td>
                               <td>@item.FiGhablArzeshAfzode</td>

                                <td>@item.Takhfif</td>
                                <td>@item.GheymatNahaei</td>


                                 <td style="white-space: nowrap !important;">
                            <a href="/MarkazAmar/Delete/@item.Id" class="btn btn-danger"
                                onclick="return confirm('آیا از حذف مطمن هستید؟')">حذف </a>

                                 <a href="" class="btn btn-warning" >ویرایش </a>
                               


                                </td>


                                 </tr>
                        i++;


                    }








            </table>

        </div>


    </div>

</div>


<script>
    var searchBox_3 = document.getElementById("searchBox-3");
searchBox_3.addEventListener("keyup",function(){
	var keyword = this.value;
	keyword = keyword.toUpperCase();
	var table_3 = document.getElementById("table-3");
	var all_tr = table_3.getElementsByTagName("tr");
	for(var i=0; i<all_tr.length; i++){
			var all_columns = all_tr[i].getElementsByTagName("td");
		  for(j=0;j<all_columns.length; j++){
				if(all_columns[j]){
					var column_value = all_columns[j].textContent || all_columns[j].innerText;
					
					column_value = column_value.toUpperCase();
					if(column_value.indexOf(keyword) > -1){
						all_tr[i].style.display = ""; // show
						break;
					}else{
						all_tr[i].style.display = "none"; // hide
					}
				}
			}
		}
})
</script>
