@using System.Globalization;

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body >
                                                 @{

                                                    string PersianDate(DateTime DateTime1)
{
	                                                PersianCalendar PersianCalendar1 = new PersianCalendar();
	                                                return string.Format(@"{0}/{1}/{2}",
			                                        PersianCalendar1.GetYear(DateTime1), 
			                                        PersianCalendar1.GetMonth(DateTime1), 
			                                        PersianCalendar1.GetDayOfMonth(DateTime1));
}                                                   
                                                   
                                               }

                                               @{
                                                    @* string date = PersianDate(ViewBag.ts); *@
                                                    @* string date2 = PersianDate(ViewBag.te); *@
                                               }
<div id="print_this"  >
        <style >
            html,body{
    height:297mm;
    width:210mm;
}
        body{
            background-color: #FCFEFF;
        }



        .img{
            
           width: 1200px;
            height: 380px;
            background-repeat: no-repeat;
        }
                .img2{
                       width: 1004px;

                height: 217px;
            background-repeat: no-repeat;
        }
        div{

            color: #000;
        }
        table, th, td {

  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
th{

}

.three-columns {
  width: 33.33%;
}


      * {
        box-sizing: border-box;
      }

      .horizontal-tb {
        writing-mode: horizontal-tb;
      }

      .vertical-rl {
        writing-mode: vertical-rl;
      }

      .vertical-lr {
        writing-mode: vertical-lr;
      }

      .sideways-lr {
        writing-mode: sideways-lr;
      }

      .sideways-rl {
        writing-mode: sideways-rl;
      }

            .box { 
                text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
      .mixed {
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }

      .upright {
        writing-mode: vertical-rl;
        text-orientation: upright;
      }

      .rotate {

  transform: rotate(-90deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}



    </style>


    <div>
        <center>
            <img src="../assets/img/icons/brands/kdtup.jpg" class="img">
        <p style="font-size: x-large;font-weight:bolder;color: #000;">پیش فاکتور نقدی فروش کالا</p>
        </center>

    <div >
        <center>
        <table class=""  >
                <tr  style="border-collapse: collapse;border: 2px solid black;" >

                        <td style="background: #000;"></td>
                        <td colspan="5">
                        شماره پیش فاکتور: <p style="display:inline;font-weight:bold;">@ViewBag.pishfack -402</p>
                        </td>
                        <td colspan="2">
                        تاریخ صدور: <p style="display:inline;font-weight:bold;"></p>
                        </td>
                        <td colspan="2">
                        تاریخ اعتبار: <p style="display:inline;font-weight:bold;"></p>

                        </td>
                </tr>
                <tr  style="border-collapse: collapse;border: 2px solid black; " >
                    <th colspan="1" style="  border: 1px solid black;border-collapse: collapse;text-align: center ;" class="box vertical-rl  m-1" >
                        فروشنده
                    </th>
                    <td colspan="10" style=" text-align:right;" >
                        <p style="font-size: large; font-weight:bolder;display:inline; ">شرکت فولاد خرمدشت تاکستان</p>
                        <br>
                        <p style="display:inline;  ">شماره ثبت : <b>1609</b></p>
                        <p style="display:inline;   margin-right: 15px; ">شناسه ملی : <b>10862006454</b></p>
                        <p style="display:inline;   margin-right: 15px;"> شماره اقتصادی : <b>411369935839</b></p>
                        <p style="display:inline;   margin-right: 15px;"> کد پستی : 3483197457</p>
                        <br>

                        <p style="display:inline;">نشانی : تاکستان شهرک صنعتی خرمدشت بلوک فلزات قطعه ۲</p>
                        <p style="display:inline; margin-right: 50px;">تلفن : <b>22759227-021</b></p>
                    </td>
                </tr>


                <tr  style="border-collapse: collapse;border: 2px solid black;" >
                    <th colspan="1" style="  border: 1px solid black;border-collapse: collapse;text-align: center ;" class="box vertical-rl m-1" >
                        خریدار
                    </th>
                    <td colspan="10" style=" text-align:right;" >
                        <p style="font-size: large; font-weight:bolder;display:inline; ">@ViewBag.ns</p>
                        <br>
                        <p style="display:inline;  ">شماره ثبت : <b>@ViewBag.ss</b></p>
                        <p style="display:inline;   margin-right: 75px; ">شناسه ملی : <b>@ViewBag.sm</b></p>
                        <p style="display:inline;   margin-right: 75px;"> کد پستی : @ViewBag.cp</p>
                        <br>

                        <p style="display:inline;">نشانی :@ViewBag.nsh</p>
                    </td>
                </tr>


                <tr>
                    <th  style="  border: 1px solid black;border-collapse: collapse;text-align: center  ;" class="box vertical-lr m-1" >ردیف</th>
                    <th style="  border: 1px solid black;border-collapse: collapse;text-align: center;" >شرح کالا</th>
                    <th  style="  border: 1px solid black;border-collapse: collapse;text-align: center;">مقدار</th>
                    <th  style="  border: 1px solid black;border-collapse: collapse;text-align: center;">واحد</th>
                    <th  style="  border: 1px solid black;border-collapse: collapse;text-align: center;">مبلغ واحد (ریال)</th>
                    <th  style="  border: 1px solid black;border-collapse: collapse;text-align: center;">مبلغ کل (ریال)</th>
                    <th  style="  border: 1px solid black;border-collapse: collapse;text-align: center;">مبلغ تخفیف </th>
                    <th  style="  border: 1px solid black;border-collapse: collapse;text-align: center;">مبلغ پس از کسر تخفیف (ریال) </th>
                    <th  style="  border: 1px solid black;border-collapse: collapse;text-align: center;"> جمع مالیات ارزش افزوده </th>
                    <th  style="  border: 1px solid black;border-collapse: collapse;text-align: center;"> مانده کل (ریال)</th>
                </tr>

                <tr>
                    <td>1</td>
                    <td>@ViewBag.sk</td>
                    <td>@ViewBag.tn</td>
                    <td>Kg</td>
                    <td>185,322</td>
                    <td>29,680,800,876</td>
                    <td>66,931</td>
                    <td>29,680,733,945</td>
                    <td>2,671,266,055</td>
                    <td>32,352,000,000</td>

                </tr>


                <tr>
                    <td colspan="2">
                        <b>جمع وزن</b>
                    </td>
                    <td>304,433</td>
                    <td>Kg</td>
                </tr>

                <tr>
                    <td colspan="9" style="text-align: right;">
                        <b>
                            جمع کل : <p style="display: inline; ">شصت و یک ملیارد و ،،،،</p>
                        </b>
                    </td>

                    <td  >
                        61,497,660,000
                    </td>
                </tr>

                <tr>
                    <td colspan="10" style="text-align: right;">
                        <b>شرایط و نحوه فروش :</b>
                        <br>
                        ۱) <b>نحوه پرداخت :</b> نقدا به حساب شماره <b>IR940120020000008383928276</b> بنام فولاده خرمدشت تاکستان نزد بانک <b>ملت</b> شعبه <b>میدان تجریش</b> واریز گردد.
                        <br>
                        ۲) هزینه های حمل به عهده خریدار می باشد .
                        <br>
                        ۳) پیش فاکتور باتوجه به عدم قطعیت معامله و در صورت واریز وجه ، تغییرات در وزن بار تحویل ، قابلیت ارسال در سامانه گزارشات فصلی را ندارد .
                        <br>
                        <br>
                        <br>
                        <p style="margin-right: 50px;">تنظیم کننده:</p>
                        <br>
                        <br>
                        <p style="margin-right: 80%;font-weight: bolder; ">
                            
                            مهر و امضا واحد فروش
                            </p><p style="margin-top: -15px;margin-right: 78%;font-weight: bolder;">
                            شرکت فولاد خرمدشت تاکستان
                        </p>
                    </td >
                </tr>

        </table>
        </center>
        <center>
                    <img src="../assets/img/icons/brands/kdtdown.jpg" class="img2">
        </center>
        <br>
    </div>
    </div>
</div>

</div>



    <div class="text-right" style="margin: 30px;">
    <button class="btn btn-info"  onclick="printdiv()" target="_blank" >پرینت </button>
    </div>





</body>

<script>
    function printdiv()
    {
        var printContents = document.getElementById('print_this').innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }


</script>
<script src="node_modules/persian-date/dist/persian-date.js" type="text/javascript"></script>

</html>